<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title></title>
		<!-- zlys -->
		<link rel="stylesheet" href="css/layer.css" />
		<link rel="stylesheet" href="index/css/ui.css">
	</head>
	<body class="android">
		<div class="scroll-content" id="person">
			<div class="scroll">
				<div class="header home-header">
					<div class="toolbar statusbar-padding active" style="margin-top: 2.3%;">
						<button class="bar-button current-city" onclick="index()"><i class="icon icon-newback" style="right: 40%;"></i></button>
					</div>
				</div>
				<div class="my-info" style="margin-top: -160px;">
					<div class="my-info-background" style="background-color:#5f85cf; -webkit-filter:blur(0px)"></div>
					<span class="my-vip" style="background:none;font-weight: bolder;">司机信息</span>
				</div>
				<div>
						<div class="list">
							<div class="item">
								<div class="item-content">
									<label class="name">司机姓名:</label>
									<input class="input" type="text" disabled="disabled" v-model="object.other.name">
								</div>
							</div>
							<div class="item">
								<div class="item-content">
									<label class="name">性别:</label>
									<input class="input" type="text" disabled="disabled" v-model="object.other.sex">
								</div>
							</div>
							<div class="item">
								<div class="item-content">
									<label class="name">类型:</label>
									<input class="input" type="text" disabled="disabled" v-model="object.other.type">
								</div>
							</div>
							<div class="item">
								<div class="item-content">
									<label class="name">电话:</label>
									<input class="input" type="text" disabled="disabled" v-model="object.other.phone">
								</div>
							</div>
							<div class="item">
								<div class="item-content">
									<label class="name">身份证号:</label>
									<input class="input" type="text" disabled="disabled" v-model="object.other.id">
								</div>
							</div>
							<div class="item">
								<div class="item-content">
									<label class="name">部门:</label>
									<input class="input" type="text" disabled="disabled" v-model="object.other.department">
								</div>
							</div>
							<div class="item">
								<div class="item-content">
									<label class="name">排班车牌号:</label>
									<input class="input" type="text" disabled="disabled" v-model="object.other.deviceSerial">
								</div>
							</div>
							<div class="item">
								<div class="item-content">
									<label class="name">排班时间:</label>
									<input class="input" type="text" disabled="disabled" v-model="object.other.startTime + '-'+object.other.endTime">
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		<div class="tab-bar tab-bottom">
			<a class="tab-button active" href="javascript:void(0);" onclick="index()"><i class="tab-button-icon icon icon-home"></i><span
				 class="tab-button-txt">首页</span></a>
			<a class="tab-button" href="javascript:void(0);" onclick="tz()"><i class="tab-button-icon icon icon-tz" style="background-size:25px"></i><span
				 class="tab-button-txt">通知</span></a>
			<a class="tab-button " href="javascript:void(0);" onclick="dengdai()"><i class="tab-button-icon icon icon-car"></i><span class="tab-button-txt">等待收运</span></a>
			<a class="tab-button " href="javascript:void(0);" onclick="my()"><i class="tab-button-icon icon icon-sz2" style="background-size:25px"></i><span
				 class="tab-button-txt">设置</span></a>
		</div>
	</body>
	<script type="text/javascript" src="js/zlys.js"></script>
	<script type="text/javascript" src="js/layer.js"></script>
	<script type="text/javascript" src="js/jquery_1.9.js"> </script>
	<script type="text/javascript" src="js/vue.js"> </script>
	<script>
		var my = new Vue({
			el: '#person',
			data: {
				object: [],
			},
			created: function() {
				var self = this;
				$.post(initUrl + "/app/driver/person", {}, function(obj) {
					if (obj.state == 0) {
						muiHref("login.html");
					}
					self.object = obj;
				})
			},
		});
	</script>
</html>
